<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Panel de administración</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container pt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Articles</h1>
        <a href="/articulos/nuevo" class="btn btn-success">Nuevo</a>
      </div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Image</th>
              <th scope="col">Created at</th>
              <th scope="col">Author</th>
              <th scope="col" style="width: 1px; white-space: nowrap">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(const article of articles) { %>
            <tr>
              <th><%= article.id %></th>
              <td>
                <!-- prettier-ignore -->
                <%= article.title.substring(0, 20) %><%= article.title.length > 20 && "..." %>
              </td>
              <td>
                <!-- prettier-ignore -->
                <%= article.content.substring(0, 50) %><%= article.content.length > 50 && "..." %>
              </td>
              <td><img src="<%= article.image %>" height="50px" alt="" /></td>
              <td><%= article.createdAt %></td>
              <td><%= `${article.user.firstname} ${article.user.lastname}` %></td>
              <td style="width: 1px; white-space: nowrap">
                <a href="/articulos/edit/<%= article.id %>" class="btn btn-sm btn-primary me-1"
                  >Editar</a
                >
                <form
                  action="/articulos/delete/<%= article.id %>?_method=delete"
                  method="POST"
                  class="d-inline"
                >
                  <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
