<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Panel de administración</title>
    <%- include("partials/head") %>
  </head>
  <body class="bg-gradient vh-100" style="background-color: #eee;">
    <%- include("partials/navbar") %>

    <div class="container pt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Artículos</h1>
        <a href="/admin/articulo/nuevo" class="btn btn-success">Nuevo</a>
      </div>
      <div>
        <table class="table table-striped bg-white">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Título</th>
              <th scope="col">Contenido</th>
              <th scope="col">Imágen</th>
              <th scope="col">Creadp por</th>
              <th scope="col">Autor</th>
              <th scope="col" style="width: 1px; white-space: nowrap">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% for(const article of articles) { %>
            <tr>
              <th><%= article.id %></th>
              <td>
                <!-- prettier-ignore -->
                <%= article.title.substring(0, 20) %><%= article.title.length > 20 ? "..." : "" %>
              </td>
              <td>
                <!-- prettier-ignore -->
                <%= article.content.substring(0, 50) %><%= article.content.length > 50 ? "..." : "" %>
              </td>
              <td><img src="<%= article.image %>" height="70px" alt="" /></td>
              <td><%= format( article.createdAt, "yyyy-MM-dd hh:mm:ss", { locale: es } ) %>
                </td>
              <td><%= `${article.user.firstname} ${article.user.lastname}` %></td>
              <td class="text-center">
                <a
                  href="/admin/articulo/<%= article.id %>/editar"
                  class="btn btn-sm btn-primary mb-2"
                  >Editar</a
                >
                <form
                  action="/admin/articulo/<%= article.id %>?_method=DELETE"
                  method="POST"
                  class="d-inline"
                >
                  <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include("partials/footer") %>
    <%- include("partials/scripts") %>
  </body>
</html>
